<div class="intro">
    <h1>Angular Image Search 👨‍💻</h1>
    <p>This is a project made by <a href="https://zacharyparsons.co.uk">Zachary</a> while watching a <a href="https://www.twitch.tv/codinggarden">Coding Garden live stream</a>.</p>
    <p>The purpose of this project is to create an image search SPA using different frontend frameworks to compare them.</p>
    <ol>
        <li>Angular Image Search - You're here now! 📍</li>
        <li><a href="https://vanilla-image-search-z.now.sh">Vanilla Image Search</a></li>
        <li><a href="https://react-image-search-z.now.sh/">React Image Search</a></li>
        <li>Vue... todo</li>
    </ol>
</div>