<h2>Angular Image Search</h2>
    <form (ngSubmit)="formSubmitted()">
        <label for="searchTerm">Search Term</label>
        <input [(ngModel)]="searchTerm" class="u-full-width" type="text" id="searchTerm" name="searchTerm">
        <button type="submit">Search</button>
    </form>
    <img *ngIf="loading" id="loadingImage" src="https://imgur.com/LVHmLnb.gif">
    <section class="images">
        <img *ngFor="let image of images;" [src]="image" alt="">
    <!-- images loaded dynamically here -->
    </section>